.slider {
    overflow: hidden;
    //margin: auto;

    .slides-wrapper {
        left: 0;
        width: 9999px;
        position: relative;
        @include transition(left 400ms linear);

        ul {
            overflow: auto;
        }
    }

    .slide {
        float: left;
        position: relative;

        img {
            //@extend .img-responsive;
        }
    }
}

.pagination {
    text-align: center;
    width: 100%;
}