@import "bootstrap";
@import "helpers";
@import "slider";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #333333;
    @include transition(all 0.35s ease);
    &:hover {
        color: red;
    }
}

ul {
    li {
        list-style: none;
    }
}

h3 {
    margin: 0 0 10px 0;
}

input[type=text] {
    border: 1px solid #aaa;
}
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    background: rgba(0,0,0, 0.4);
    bottom: 0;
    z-index: 10;

    > .list-group {
        margin: 0;
        padding: 10px 0;
    }
}

.sidebar ul {
    padding-left: 30px;
}

quote {
    background: #eaeaea;
    display: block;
    padding: 15px;
    border: 1px solid #eaeaea;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #eaeaea;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 3% 0;
}

.container {
    max-width: 1200px;
    margin: 40px auto 0;
    width: 100%;
    &__right {
        float: left;
        width: 72%;
        margin-left: 3%;
        border: 1px solid #eaeaea;
        padding: 20px;

        .module__right ul li {
            display: inline;
        }
    }
    &__left {
        width: 25%;
        float: left;
        border: 1px solid #eaeaea;
        padding: 20px;
    }
}
